@font-face {
    font-family: "LobsterLocal";
    src: url('Polices/LobsterTwo-BoldItalic.ttf');
}

* { 
	margin: 0; 
	padding: 0; 
	outline: none;
	border: 0;
	font-size: 100%;
}

html,body {
	/* height: 90%; */
	background-color:#f7f7f7;
/* 	background-color:#ffffff; */
/* 	background-image: url("../Images/fond/container.jpg"); */
	font-family: "Calibri", Arial, sans-serif;
	

/* 	background-image: url("../Images/fond/1.jpg"); */
/*	background-repeat: no-repeat;
*/
	
}
h1{ font-size:22px;}
h2{ font-size:20px;}
h3{ font-size:18px;}
h4{ font-size:16px;}
h5{ font-size:14px;}
h6{ font-size:12px;}

a { 
	text-decoration: none; 	
}

a:hover 
{
	 text-decoration: underline; 
}

a:visited
{ 
	color:#3755ff;
}

img 
{ 
	border: 0; 
}

/****************** En tête **************************/

header h1
{
    width:400px;
    color:#0078ff;
    margin: 30px auto 10px 40px;
    font:2.9em fantasy, serif;
    font-weight:bold	;


}
#logo{
	margin: 3px auto 10px 40px; 
	
}

#bloc_session
{
	position: absolute;
	right: 40px;
	width: 200px;
	color:#fff; 
	padding: 5px;
	background-color: #0078ff;
	border-radius: 4px;	
	box-shadow: 3px 1px 2px 2px #afafaf;

}

#bloc_session ul
{
/* 	 margin:0; /*On supprime les marges , padding et puces    */ 
 	list-style-type:none;
	padding-left: 10px;

 	 	
}


.bloc_connexion {
	
	top:10px;
	height:70px;
}

.bloc_connexion ul{
	padding-top: 15px;
}

.bloc_infoJouer
{
	position: relative;
	top:100px;
	min-height: 90px;
	padding: 10px;

	
	
}
.bloc_connexion ul{
}


#bloc_session a
{
	color: #eaeaea; 

}
#bloc_session img
{
	float: left;
	clear: right;
	padding: 10px;
}


#bloc_session a:visited,
{ 
	color: #eaeaea; 

}
#bloc_session h4
{
	color:#0a0aff;
	text-align: center;
}

/************** Connexion  ***************************/
#bloc_connexion,#bloc_inscription { 
	margin: 25px auto; 
	position: relative; 
	width: 900px; 
/* 	border: 1px solid black; */
	}

#session,#inscription {
	background: #f9f9f9;
	-webkit-box-shadow: 0 1px 0 #fff inset;
	-moz-box-shadow: 0 1px 0 #fff inset;
	-ms-box-shadow: 0 1px 0 #fff inset;
	-o-box-shadow: 0 1px 0 #fff inset;
	box-shadow: 0 1px 0 #fff inset;
	border: 1px solid #c4c6ca;
	margin: 0 1px auto 30px;
	padding: 25px 0 0;
	position: relative;
	text-shadow: 0 1px 0 #fff; 
	
}

#session{
	float: left;
	width: 400px;
	height:285px; 
	text-align: center;

}
#session h2,#inscription h2
{
	color: #7E7E7E;
	font: bold 25px Helvetica, Arial, sans-serif;
	letter-spacing: -0.05em;
	line-height: 20px;
	margin: 10px 0 30px;
}



#session h2:before,#session h2:after,#inscription h2:before,#inscription h2:after {
	content: "";
	height: 1px;
	position: absolute;
	top: 10px;
	width: 27%;
}

#session h2:after,#inscription h2:after{
	background: rgb(126,126,126);
    right: 0;
}
#session h2:before,#inscription h2:before  {
	background: rgb(126,126,126);
    left: 0;
}
#session form,#inscription form {
 	margin: 0 20px; 
 	position: relative; 
 	}
.champs-connexion,.champs-inscription {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	border: 1px solid #c8c8c8;
	color: #777;
	font: 13px Helvetica, Arial, sans-serif;
	margin: 0 0 10px;
	background: #eae7e7 url('../Images/boutons/8bcLQqF.png') no-repeat;
	width: 80%;
}
.champs-connexion{
	padding: 15px 10px 15px 40px;
}

.champs-inscription {
	padding: 14px 10px 14px 4px;
	background-position: -30px !important
}

.champs-connexion:focus,.champs-connexion:focus {
	-webkit-box-shadow: 0 0 2px #ed1c24 inset;
	-moz-box-shadow: 0 0 2px #ed1c24 inset;
	-ms-box-shadow: 0 0 2px #ed1c24 inset;
	-o-box-shadow: 0 0 2px #ed1c24 inset;
	box-shadow: 0 0 2px #ed1c24 inset;
	background-color: #fff;
	border: 1px solid #ed1c24;
	outline: none;
}


.form-connexion #inputPseudo { background-position: 10px 10px !important }
.form-connexion #inputPassword { background-position: 10px -53px !important }
#btn-connexion,#btn-inscription {
	background: rgb(254,231,154);

	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-ms-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-o-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	border: 1px solid #D69E31;
	color: #85592e;
	cursor: pointer;
	
	font: bold 15px Helvetica, Arial, sans-serif;
	height: 35px;
	margin: 20px 0 20px 15px;
	position: relative;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	width: 120px;
}
#btn-connexion{
	float: left;
}
#btn-connexion:hover,#btn-inscription:hover {
	background: rgb(254,193,81);
}

#bloc_connexion form div a {
	color: #004a80;
    float: right;
    font-size: 14px;
    margin: 30px 15px 0 0;
    text-decoration: underline;
    
}
.erreur_connexion
{
	color:#fc4b4b;
	
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

#session #div_inscription{
	
	margin: 55px auto;
}
.btn-iscription{
	margin: 20px auto;
	padding:10px 40px;
	font-size:17px;

}


#inscription{
	width: 700px;
	margin: auto; 
	padding:20px;
		
}
#inscription label
{    
    font: 1.1em Arial, Helvetica, Sans-serif;
}

#inscription h2{
	text-align: center;
}

#inscription table
{
	width: 100%;
	margin: auto;
}

#inscription tr td 
{
	width: 250px;
/* 	border: 1px solid black; */

}

#inscription table td label
{
	float: right;
/* 	border: 1px solid; */
	text-align: center;
	font: 20px;
	padding:10px 25px 20px 30px;
}

/* ************************* Menu ************************************ */
nav{
	margin: 0 auto 0;
	text-align: center;
/* 	background-color:#0078ff;	  */
/* 	width: 750px; */
}

#menu {
    /* Affects the UL element */
    overflow: hidden;
    display: inline-block;
       
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
}

#menu li{
    /* dégradés CSS3 */

    background-color: #f0f0f0;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#fefefe), color-stop(0.5,#f0f0f0), color-stop(0.51, #e6e6e6));
    background-image: -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: -o-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: -ms-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);

    border-right: 1px solid rgba(9, 9, 9, 0.125);

    /* Adding a 1px inset highlight for a more polished efect: */

    box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;

    position:relative;

    float: left;
    list-style: none;
}

#menu li:after{

    /*  */	

    content:'.';
    text-indent:-9999px;
    overflow:hidden;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1;
    opacity:0;

    /* Gradients! */

    background-image:-webkit-gradient(linear, left top, right top, from(rgba(168,168,168,0.5)),color-stop(0.5,rgba(168,168,168,0)), to(rgba(168,168,168,0.5)));
    background-image:-moz-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    background-image:-o-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    background-image:-ms-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    background-image:linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));

    /* Creating borders with box-shadow. Useful, as they don't affect the size of the element. */

    box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
    -moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
    -webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;

    /* This will create a smooth transition for the opacity property */

    -moz-transition:0.25s all;
    -webkit-transition:0.25s all;
    -o-transition:0.25s all;
    transition:0.25s all;
}

/* Treating the first LI and li:after elements separately */

#menu li:first-child{
    border-radius: 4px 0 0 4px;
}

#menu li:first-child:after,
#menu li.selected:first-child:after{
    box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
    -moz-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
    -webkit-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;

    border-radius:4px 0 0 4px;
}

#menu li:last-child{
    border-radius: 0 4px 4px 0;
}

/* Treating the last LI and li:after elements separately */

#menu li:last-child:after,
#menu li.selected:last-child:after{
    box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
    -moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
    -webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;

    border-radius:0 4px 4px 0;
}

#menu li:hover:after,
#menu li.selected:after,
#menu li:target:after{
    opacity:1;
}

#menu:hover li.selected:after,
#menu:hover li:target:after{
    /* Hides the targeted li when we are hovering on the UL */
    opacity:0;
}

#menu li.selected:hover:after,
#menu li:target:hover:after{
    opacity:1 !important;
}

#menu li a{
    color: #5c5c5c;
    display: inline-block;
    font: 20px/1 Lobster,LobsterLocal,fantasy,Arial,sans-serif;
/*     font-weight: bold; */
    padding: 12px 35px 14px;
    position: relative;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
    z-index:2;
    text-decoration:none !important;
    white-space:nowrap;
}

#menu a.homeIcon{
    background:url('../Images/home.png') no-repeat center center;
    display: block;
    overflow: hidden;
    padding-left: 12px;
    padding-right: 12px;
    text-indent: -9999px;
    width: 16px;
}

#menu ul{
	display: none;
}
/******************** Corps ************************/
#contenu
{
	background-color:#E6E6E6 ;
	border-radius: 5px;
	padding:20px 10px 20px 7px;
	min-height: 450px;
	width: 920px;
	margin: auto;
	color: #545454; 
/* 	  opacity: 0.5; */
}

.consigne, .classementAccueil
{   
	width: 450px;
	margin: 10px;
	min-height:340px; 
}
.consigne
{

	float: left;
}

.classementAccueil
{
	margin-left: 470px;
}


.consigne h3, .classementAccueil h3
{   
	background-color: #3c94ff;
	border-radius: 5px 5px 0px 0px;
	padding: 10px 10px 5px 10px;
	margin: 0;
	color: #eaeaea; 
		
}

.consigne p, .classementAccueil div
{
	background-color:#fcfcfc;
	padding: 10px;
	border-radius: 0px 0px 5px 5px;    	

}

	/*------Classement accueil-------**/

.classementAccueil table {
    *border-collapse: collapse; /* IE7 and lower */
/*     padding: 10px; */
	width: 430px;
	    border-spacing: 0; 
	 text-align: center; 

	text-shadow: 1px 1px 0px #fff;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}

.classementAccueil td, .classementAccueil th { 
/* 	border: 1px solid #CCC;  */
	height: 30px; 

}

.classementAccueil table th{
/* 		border-collapse: collapse;  */
		background:#ededed;
		border-top: 1px solid #ffffff;
		border-bottom:1px solid #e0e0e0;
		border-left: 1px solid #e0e0e0; 	
}
.classementAccueil table th:first-child{
	text-align: left;
	padding-left:20px;
}

.classementAccueil table tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}

.classementAccueil table tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}

.classementAccueil table tr{
	text-align: center;
	padding-left:20px;
}

.classementAccueil table tr td:first-child{
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
.classementAccueil table tr td {
/* 	padding:18px; */
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}

.classementAccueil table tr.even td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}

.classementAccueil table tr:last-child td{
	border-bottom:0;
}

.classementAccueil table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}

.classementAccueil table tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}

.classementAccueil table tr:hover td{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

.col-1{
	width: 30px;
}
 /**---  -***/
 

/*-------- Boutton Jouer -------------*/
#button_jouer
{
	margin: auto;
	text-align: center;
}
.button-jouer, .btn-iscription{
	display: inline-block;
	color:#fff !important;
	text-decoration: none !important;
	
	line-height:1;
	overflow: hidden;
	position:relative;
	text-align: center;
	
	box-shadow:0 1px 1px #ccc;
	border-radius:2px;
	
	background-color: #51b7e6;
	background-image:-webkit-linear-gradient(top, #51b7e6, #4dafdd);
	background-image:-moz-linear-gradient(top, #51b7e6, #4dafdd);
	background-image:linear-gradient(top, #51b7e6, #4dafdd);

}
.button-jouer{

	padding:14px 60px;
	font-size:24px;
}

/*	Hide the original text of the button. Then the loading or finished
	text will be shown in the :after element above it. */

.button-jouer.in-progress,.button-jouer.finished{
	color:transparent !important;
}

.button-jouer.in-progress:after,.button-jouer.finished:after{
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	padding-top: inherit;
	color: #fff !important;
	left: 0;
}

.btn-suivant,.btn-precedent
{
	margin-top: 10px;
}
.btn-suivant
{
	float: right;
}
.btn-precedent{
	float: left;
}



/******************** Footer ************************/

footer 
{
	color:grey;
	text-align: center;
	padding-top: 10px;
}




